/* and 000 111 222 333 *** USTONISHT! */
/* B-NO-IT! Plant Maker. */

header {
  margin: 0.1em;
  text-align: center;
}

.pants {
  border: 2px solid yellow;
  margin: 1em;
  padding: 0.5em;;
}

.pocket {
  text-align: center;
  width: 5em;
  border: 4px solid lightblue;
  border-top: dashed gray;
  margin: 0;
}

.land {
  border: 2px solid brown;
  padding: 0.5em;;
}

.field {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.plot {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex 1 1 auto;
  border: 2px solid white;
  margin: 1em;
  padding: 1em 0;
  text-align: center;
  min-width: 10em;
}

.plot:hover {
  cursor: pointer;
  color: Black;
  border-color: black;
}

.growing {
  color: blue;
  background: green;
}

.dirt {
  color: red;
  background: brown;
}

.planted {
  color: pink;
  background: orange;
}

.seeds {
  background: orange;
  color: Blue;
}

.win {
  font-size: 3em;
}

.playagain {
  font-size: 0.76em;
}
